@charset "UTF-8";

h1 {
  text-align: center;
  margin: 0;
  padding : 30px;
  color: white;
}

header {
	background-color: #0097e6;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0097e6;
}

li {
  float: left;
  
}

li a {
  display: block;
  color: white;
  text-align: center;
  margin: 16px;
  text-decoration: none;
  
}

li a:hover {
  background-color: orange;
}
body{
  background-image: url(images/1.jpg);
  margin: 0px;
  
  
}
